@model Krab.Web.Models.Identity.ChangePasswordViewModel

<head>
    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Login-template.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/a6b6e41872.js"></script>
    @Scripts.Render("~/bundles/jquery")
</head>


<body>
    <div class="container">
        <div class="row">
            <div class="pen-title"></div>
            <div class="container">
                <div class="card"></div>
                <div class="card">
                    <h1 class="title">
                        Change your password
                    </h1>
                    <section id="changePassword">
                        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <hr />
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center">
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    @Html.LabelFor(m => m.OldPassword, new { @class = "control-label", @style = "float: right" })
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @style = "float: left; width:80%" })
                                </div>
                            </div>
                            <div class="row" style="padding-top: 20px">
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    @Html.LabelFor(m => m.NewPassword, new { @class = "control-label", @style = "float: right" })
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @style = "float: left; width:80%" })
                                </div>
                            </div>
                            <div class="row" style="padding-top: 20px">
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label", @style = "float: right" })
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @style = "float: left; width:80%" })
                                </div>
                            </div>
                            <div class="form-group" style="padding-top: 10px">
                                <div class="button-container">
                                    <input type="submit" value="Change password" class="btn btn-primary btn-block" style="float: left" />
                                </div>
                            </div>
                            <div class="button-container">
                                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)
                            </div>
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/Scripts/app/Login-template.js"></script>
    }

</body>