@model Krab.Web.Models.Identity.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center">
    <h2>@ViewBag.Title</h2>
</div>
@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center">
        @Html.ValidationSummary("", new { @class = "text-danger" })
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            @Html.LabelFor(m => m.OldPassword, new { @class = "control-label", @style = "float: right" })
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @style = "float: left; width:80%" })
        </div>
    </div>
    <div class="row" style="padding-top: 20px">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label", @style = "float: right" })
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @style = "float: left; width:80%" })
        </div>
    </div>
    <div class="row" style="padding-top: 20px">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label", @style = "float: right" })
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @style = "float: left; width:80%" })
        </div>
    </div>
    <div class="row" style="padding-top: 10px">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <input type="submit" value="Change password" class="btn btn-primary" style="float: left" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}