@model Krab.Web.Models.Identity.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center">
    <h2>@ViewBag.Title</h2>
</div>
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center">
        @Html.ValidationSummary("", new { @class = "text-danger" })
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            @Html.LabelFor(m => m.Email, new { @class = "control-label", @style = "float: right;" })
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "float: left; width: 80%;" })
        </div>
        </div>
    <div class="row" style="padding-top: 10px">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <input type="submit" class="btn btn-primary" value="Email Link" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
