@using Krab.Web.Models
@using Krab.Web.Models.Identity
@model Krab.Web.Models.Identity.ParentViewModel

<head>
    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/bootstrap-custom.css" rel="stylesheet" />
    <link href="~/Content/Login-template.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/a6b6e41872.js"></script>
    @Scripts.Render("~/bundles/jquery")
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="pen-title"></div>
            <div class="container">
                <div class="card"></div>
                <div class="card">
                    <h1 class="title">
                        KRAB Login
                    </h1>
                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(m => m.LoginViewModel.Email, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.LoginViewModel.Email, new { @class = "form-control", @style = "display: inline; float: left; width:80%" })
                                    @Html.ValidationMessageFor(m => m.LoginViewModel.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.LoginViewModel.Password, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.LoginViewModel.Password, new { @class = "form-control", @style = "display: inline; float: left; width:80%" })
                                    @Html.ValidationMessageFor(m => m.LoginViewModel.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.LoginViewModel.RememberMe)
                                        @Html.LabelFor(m => m.LoginViewModel.RememberMe)
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="button-container">
                                    <button><span>Go</span></button>
                                    @*<input type="submit" value="Log in!"  />*@
                                </div>
                            </div>

                            <div class="footer" style="text-transform: uppercase;">
                                <a href="/Account/Register" style="color: #e95420;">Register as a new user</a>
                            </div>
                            <div class="footer">
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </div>
                        }
                    </section>
                </div>
                <div class="card alt">
                    <div class="toggle"></div>
                    <h1 class="title">
                        ABOUT KRAB
                        <div class="close"></div>
                    </h1>
                    <section id="aboutKRAB">
                        <div class="input-container">
                            <p>
                                <div> <h3 style="color: #e9e9e9;">WHAT?</h3></div>
                            </p>
                            <hr/>
                            <p>
                                <div> <h4 style="color: #e9e9e9;">Keyword Response Auto-Bot (KRAB for short) is a configurable automated Reddit bot.</h4></div>
                            </p>
                            <br />
                            <p>
                                <div> <h3 style="color: #e9e9e9;">HOW? </h3></div>
                            </p>
                            <hr />
                            <li>
                                <div> <h4 style="color: #e9e9e9;">Link your Reddit Account to KRAB. </h4></div>
                            </li>
                            <li>
                                <div> <h4 style="color: #e9e9e9;">Specify Keyword and Response Sets. </h4></div>
                            </li>
                            <li>
                                <div> <h4 style="color: #e9e9e9;">Sit back and let KRAB answer for you! </h4></div>
                            </li>
                        </div>
                            }
                    </section>
                </div>
            </div>
        </div>
    </div>




    <!-- Scripts -->
    <script src="~/Scripts/app/Login-template.js"></script>

</body>