@using Krab.Web.Models
@using Krab.Web.Models.Identity
@model Krab.Web.Models.Identity.ParentViewModel

<head>
    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Login-template.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/a6b6e41872.js"></script>
    @Scripts.Render("~/bundles/jquery")
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="pen-title"></div>
            <div class="container">
                <div class="card"></div>
                <div class="card">
                    <h1 class="title">
                        KRAB Login
                    </h1>
                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.LoginViewModel.Email, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.LoginViewModel.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.LoginViewModel.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.LoginViewModel.Password, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.LoginViewModel.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.LoginViewModel.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.LoginViewModel.RememberMe)
                                        @Html.LabelFor(m => m.LoginViewModel.RememberMe)
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="button-container">
                                    <button><span>Go</span></button>
                                    @*<input type="submit" value="Log in!"  />*@
                                </div>
                            </div>

                            <div class="footer">
                                @Html.ActionLink("Register as a new user", "Register")
                            </div>
                            <div class="footer">
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </div>
                        }
                    </section>
                </div>
                <div class="card alt">
                    <div class="toggle"></div>
                    <h1 class="title">
                        KRAB Register
                        <div class="close"></div>
                    </h1>
                    <section id="registrationForm">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <hr />
                            @Html.ValidationSummary("", new { @class = "text-danger" })

                            <div class="input-container">
                                <div> <h3 style="color: #e9e9e9;">Email:</h3></div>
                                @Html.TextBoxFor(m => m.RegisterViewModel.Email, new { @class = "form-control" })
                            </div>

                            <div class="input-container">
                                <div> <h3 style="color: #e9e9e9;">Password:</h3></div>
                                @Html.PasswordFor(m => m.RegisterViewModel.Password, new { @class = "form-control" })
                            </div>

                            <div class="input-container">
                                <div> <h3 style="color: #e9e9e9;">Confirm Password:</h3></div>
                                @Html.PasswordFor(m => m.RegisterViewModel.ConfirmPassword, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                <div class="button-container">
                                    <button><span>Sign-up</span></button>
                                    @*<input type="submit" class="btn btn-default" value="Register" />*@
                                </div>
                            </div>
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>




    <!-- Scripts -->
    <script src="~/Scripts/app/Login-template.js"></script>

</body>