@using Krab.Web.Models
@using Krab.Web.Models.Identity
@model Krab.Web.Models.Identity.LoginViewModel

<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center">
        <h2>Login</h2>
    </div>
</div>
<section id="loginForm">
    @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <hr />
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-center">
                @Html.ValidationSummary(true, "", new { @class = "text-danger", @style = "float:right" })
                @Html.LabelFor(m => m.Email, new { @class = "center-form-control", @style = "float:right" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger", @style = "float:right" })
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-center">
                @Html.TextBoxFor(m => m.Email, new { @class = "center-form-control", @style = "float:left" })
            </div>
        </div>
        <div class="row" style="padding-top: 10px">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-center">
                @Html.LabelFor(m => m.Password, new {@class = "center-form-control", @style = "float:right" })
                @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger", @style = "float:right" })
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-center">
                @Html.PasswordFor(m => m.Password, new { @class = "center-form-control", @style = "float:left" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-center">
                <input type="submit" value="Log in" class="btn btn-default" style="float:right"/>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-center">
                <div class="checkbox pad-left-20" style="float: left;">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-center">
                <div style="float:right">
                    @Html.ActionLink("Register", "Register")
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 text-center">
                <div style="float: left">
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </div>
            </div>
        </div>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
