<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - KRAB</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="styleSheet" href="../../Content/ui-grid.min.css" />
    <link href="~/Content/app.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    <script src="~/Scripts/angular-route.js"></script>
    <script src="../../Scripts/ui-grid.min.js"></script>
    <script src="../../Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="../../Scripts/app/controller/controllers.js"></script>
    <script src="../../Scripts/app/service/services.js"></script>
    <script src="../../Scripts/app/myApp.js"></script>
    <script src="../../Scripts/app/service/krService.js"></script>
    <script src="../../Scripts/app/service/locationService.js"></script>
    <script src="../../Scripts/app/service/gridService.js"></script>
    <script src="../../Scripts/app/service/modalService.js"></script>
    <script src="../../Scripts/app/controller/krController.js"></script>
    <script src="../../Scripts/app/controller/editKrController.js"></script>
    <script src="../../Scripts/app/controller/addKrController.js"></script>
    <script src="../../Scripts/app/controller/manageSubredditsController.js"></script>
    <script src="../../Scripts/app/controller/generateReportController.js"></script>
    <script src="https://use.fontawesome.com/a6b6e41872.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-csv/0.3.6/ng-csv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.8/angular-sanitize.min.js"></script>
  
</head>
<body ng-app="myApp">
    @RenderBody()
    @RenderSection("scripts", required: false)
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("KRAB", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home", new {area = ""}, null)</li>
                <li>@Html.ActionLink("About", "Index", "About", new { area = "" }, null)</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderSection("SPAViews", required: false)
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted">&copy; @DateTime.Now.Year - Keyword-Response Auto-Bot</p>
    </div>
</footer>
</body>
</html>
